@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/flatly/bootswatch';
@import '~react-datepicker/dist/react-datepicker.css';

// Component styles
@import 'components/Header';
@import 'components/Layout';
